body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:rgb(238, 82, 82);
}

.calculator {
    background:rgb(47, 47, 234);
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}
